Repository n0-computer/iroh, pull requests merged in 2022-06, with the labels that each got.

#111 fix: rpc creation no longer blocks the gateway
  iroh-gateway/Cargo.toml
  iroh-gateway/src/core.rs
  iroh-gateway/src/main.rs
Labels: fix

#113 refactor: metrics
  iroh-bitswap/src/behaviour.rs
  iroh-bitswap/src/metrics.rs
  iroh-gateway/src/client.rs
  iroh-gateway/src/core.rs
  iroh-gateway/src/main.rs
  iroh-gateway/src/metrics.rs
  iroh-metrics/src/bitswap.rs
  iroh-metrics/src/gateway.rs
  iroh-metrics/src/lib.rs
  iroh-metrics/src/resolver.rs
  iroh-metrics/src/store.rs
  iroh-resolver/Cargo.toml
  iroh-resolver/src/resolver.rs
  iroh-resolver/src/unixfs.rs
  iroh-store/benches/store.rs
  iroh-store/src/main.rs
  iroh-store/src/metrics.rs
  iroh-store/src/store.rs
Labels: refactor, metrics

#119 fix: histogram metric assignment
  iroh-metrics/src/gateway.rs
Labels: bug, metrics, fix
