Repository n0-computer/iroh, pull requests merged in 2022-12, with the labels that each got.

#585 refactor(`iroh-api`): add takes a `UnixfsEntry` not a `Path`
  iroh-api/Cargo.toml
  iroh-api/benches/add.rs
  iroh-api/src/api.rs
  iroh-api/src/lib.rs
  iroh-api/src/store.rs
  iroh-gateway/src/core.rs
  iroh-resolver/tests/roundtrip.rs
  iroh-share/src/lib.rs
  iroh-share/src/sender.rs
  iroh-unixfs/Cargo.toml
  iroh-unixfs/src/builder.rs
  iroh/src/fixture.rs
  iroh/src/run.rs
Labels: refactor, c-api

#546 feat: Better support of Gateway Subdomain spec
  iroh-api/src/api.rs
  iroh-bitswap/src/lib.rs
  iroh-bitswap/src/network.rs
  iroh-gateway/src/bad_bits.rs
  iroh-gateway/src/client.rs
  iroh-gateway/src/config.rs
  iroh-gateway/src/constants.rs
  iroh-gateway/src/core.rs
  iroh-gateway/src/handler_params.rs
  iroh-gateway/src/handlers.rs
  iroh-gateway/src/lib.rs
  iroh-gateway/src/text.rs
  iroh-one/src/config.rs
  iroh-resolver/Cargo.toml
  iroh-resolver/src/resolver.rs
  iroh-resolver/tests/unixfs.rs
  iroh-rpc-types/src/addr.rs
  iroh-store/src/store.rs
  iroh-unixfs/src/balanced_tree.rs
  iroh-unixfs/src/builder.rs
  iroh-unixfs/src/hamt.rs
  iroh-unixfs/src/hamt/bitfield.rs
  iroh-util/src/lib.rs
  iroh-util/src/lock.rs
  iroh/Cargo.toml
  stores/flatfs/src/flatfs.rs
  stores/flatfs/src/shard.rs
  xtask/src/main.rs
Labels: c-gateway

#595 Use cargo's workspace.package and workspace.dependencies
  Cargo.toml
  examples/embed/Cargo.toml
  examples/importer/Cargo.toml
  iroh-api/Cargo.toml
  iroh-bitswap/Cargo.toml
  iroh-car/Cargo.toml
  iroh-embed/Cargo.toml
  iroh-gateway/Cargo.toml
  iroh-localops/Cargo.toml
  iroh-metrics/Cargo.toml
  iroh-one/Cargo.toml
  iroh-p2p/Cargo.toml
  iroh-resolver/Cargo.toml
  iroh-rpc-client/Cargo.toml
  iroh-rpc-types/Cargo.toml
  iroh-share/Cargo.toml
  iroh-store/Cargo.toml
  iroh-unixfs/Cargo.toml
  iroh-util/Cargo.toml
  iroh/Cargo.toml
  stores/flatfs/Cargo.toml
  stores/rocks/Cargo.toml
  xtask/Cargo.toml
Labels: dependencies

#602 add back `iroh status -w` feature using new rpc streams
  iroh-api/src/api.rs
  iroh-api/src/lib.rs
  iroh-gateway/Cargo.toml
  iroh-gateway/src/lib.rs
  iroh-gateway/src/metrics.rs
  iroh-gateway/src/rpc.rs
  iroh-p2p/src/lib.rs
  iroh-p2p/src/metrics.rs
  iroh-p2p/src/rpc.rs
  iroh-rpc-client/src/client.rs
  iroh-rpc-client/src/gateway.rs
  iroh-rpc-client/src/lib.rs
  iroh-rpc-client/src/network.rs
  iroh-rpc-client/src/status.rs
  iroh-rpc-client/src/store.rs
  iroh-rpc-types/src/gateway.rs
  iroh-rpc-types/src/lib.rs
  iroh-rpc-types/src/p2p.rs
  iroh-rpc-types/src/store.rs
  iroh-store/Cargo.toml
  iroh-store/src/lib.rs
  iroh-store/src/metrics.rs
  iroh-store/src/rpc.rs
  iroh/src/fixture.rs
  iroh/src/run.rs
  iroh/src/services.rs
  iroh/tests/cmd/start_status_stop.trycmd
Labels: c-rpc

#625 fix(iroh-p2p): ensure `providers` stream closes
  iroh-p2p/src/node.rs
  iroh-p2p/src/providers.rs
Labels: test, c-p2p, fix
