Repository n0-computer/iroh, pull requests merged in 2023-09, with the labels that each got.

#1511 docs: update instructions for running rust examples
  iroh/README.md
  iroh/examples/client.rs
  iroh/examples/dump-blob-fsm.rs
  iroh/examples/dump-blob-stream.rs
  iroh/examples/hello-world.rs
  iroh/examples/rpc.rs
  iroh/examples/sync.rs
Labels: docs, c-iroh

#1513 fix(sync): fix `PeerData` encoding, neighbor events, better & predictable tests
  iroh-gossip/src/net.rs
  iroh-gossip/src/proto.rs
  iroh/examples/sync.rs
  iroh/src/commands/sync.rs
  iroh/src/sync_engine/live.rs
  iroh/tests/sync.rs
Labels: fix, c-iroh-sync

#1525 fix some dead-code warnings when using `--no-default-features`
  iroh-metrics/src/core.rs
  iroh-sync/src/sync.rs
Labels: c-iroh-metrics, c-iroh-sync
