Repository n0-computer/iroh, pull requests merged in 2023-08, with the labels that each got.

#1329 refactor(iroh-net): keep `DerpMap` fixed
  iroh-net/src/defaults.rs
  iroh-net/src/derp/http/mesh_clients.rs
  iroh-net/src/derp/map.rs
  iroh-net/src/magic_endpoint.rs
  iroh-net/src/magicsock.rs
  iroh-net/src/magicsock/derp_actor.rs
  iroh-net/src/netcheck.rs
  iroh-net/src/netcheck/reportgen.rs
  iroh-net/src/netcheck/reportgen/probes.rs
  iroh-net/src/stun.rs
  iroh-net/src/test_utils.rs
  iroh/src/config.rs
Labels: c-iroh-net

#1327 fix(ci): correctly detect forks
  .github/workflows/ci.yml
Labels: ci, fix

#1149 feat: iroh-gossip
  Cargo.lock
  Cargo.toml
  iroh-gossip/Cargo.toml
  iroh-gossip/README.md
  iroh-gossip/examples/chat.rs
  iroh-gossip/src/lib.rs
  iroh-gossip/src/metrics.rs
  iroh-gossip/src/net.rs
  iroh-gossip/src/net/util.rs
  iroh-gossip/src/proto.rs
  iroh-gossip/src/proto/hyparview.rs
  iroh-gossip/src/proto/plumtree.rs
  iroh-gossip/src/proto/state.rs
  iroh-gossip/src/proto/tests.rs
  iroh-gossip/src/proto/topic.rs
  iroh-gossip/src/proto/util.rs
  iroh-net/src/magic_endpoint.rs
  iroh-net/src/tls.rs
Labels: c-iroh-gossip

#1314 [WIP] feat(iroh-sync): download from peer that informed us about a change
  iroh-net/src/tls.rs
  iroh-sync/src/sync.rs
  iroh/src/download.rs
  iroh/src/lib.rs
  iroh/src/metrics.rs
  iroh/src/sync.rs
  iroh/src/sync/content.rs
  iroh/src/sync/live.rs
  iroh/src/sync/metrics.rs
Labels: c-iroh-sync

#1379 refactor(iroh-net): Store DerpNodes as Arcs inside DerpMap
  iroh-net/Cargo.toml
  iroh-net/src/defaults.rs
  iroh-net/src/derp/http.rs
  iroh-net/src/derp/http/client.rs
  iroh-net/src/derp/map.rs
  iroh-net/src/netcheck.rs
  iroh-net/src/netcheck/reportgen/probes.rs
  iroh-net/src/stun.rs
  iroh-net/src/test_utils.rs
Labels: c-iroh-net

#1378 feat(iroh-net): add `DEV_DERP_ONLY` env variable for testing the derp relay
  iroh-net/src/derp/server.rs
  iroh-net/src/lib.rs
  iroh-net/src/magicsock.rs
  iroh-net/src/magicsock/endpoint.rs
  iroh-net/src/util.rs
  iroh/tests/cli.rs
  iroh/tests/provide.rs
  iroh/tests/sync.rs
Labels: c-iroh-net
