Repository n0-computer/iroh, pull requests merged in 2024-07, with the labels that each got.

#2435 chore(ci): separate out android builds & disable netbsd
  .github/workflows/ci.yml
Labels: ci

#2417 feat(iroh-net)!: Add PkarrResolver and publish direct addresses in PkarrPublisher when relay is disabled
  Cargo.lock
  iroh-cli/src/commands/doctor.rs
  iroh-dns-server/Cargo.toml
  iroh-dns-server/examples/convert.rs
  iroh-dns-server/examples/publish.rs
  iroh-dns-server/src/http/pkarr.rs
  iroh-dns-server/src/lib.rs
  iroh-dns-server/src/store.rs
  iroh-dns-server/src/store/signed_packets.rs
  iroh-dns-server/src/util.rs
  iroh-net/Cargo.toml
  iroh-net/src/discovery.rs
  iroh-net/src/discovery/pkarr.rs
  iroh-net/src/test_utils.rs
  iroh/src/node/builder.rs
Labels: feat, c-iroh-net

#2465 chore(docs): update readme
  README.md
Labels: docs

#2376 feat(iroh-net): local swarm discovery
  Cargo.lock
  Cargo.toml
  iroh-net/Cargo.toml
  iroh-net/src/discovery.rs
  iroh-net/src/discovery/local_swarm_discovery.rs
  iroh/Cargo.toml
  iroh/examples/local_swarm_discovery.rs
  iroh/src/node/builder.rs
Labels: feat, c-iroh-net, c-iroh

#2495 feat(iroh-net): Add holepunching events
  iroh-net/README.md
  iroh-net/src/disco.rs
  iroh-net/src/magicsock.rs
  iroh-net/src/magicsock/node_map/node_state.rs
  iroh-net/src/relay/http/client.rs
Labels: hole punching, c-iroh-net

#2492 docs(iroh-net): Improve Endpoint::accept docs
  iroh-net/src/discovery/local_swarm_discovery.rs
  iroh-net/src/endpoint.rs
Labels: docs, c-iroh-net

#2511 fix(iroh-metrics): Add the bind addr in errors for bind failures
  iroh-metrics/src/service.rs
Labels: c-iroh-relay

#2515 refactor(iroh-net): More renaming of endpoint to direct address
  iroh-net/src/bin/iroh-relay.rs
  iroh-net/src/magicsock.rs
  iroh-net/src/magicsock/metrics.rs
Labels: refactor, c-iroh-net

#2509 refactor(iroh-net): remove random choice of direct addr
  iroh-net/src/magicsock.rs
  iroh-net/src/magicsock/node_map.rs
  iroh-net/src/magicsock/node_map/node_state.rs
  iroh/tests/sync.rs
Labels: bug, hole punching, c-iroh-net

#2520 feat(ci): publish docker images
  .github/workflows/ci.yml
  .github/workflows/release.yml
  docker/Dockerfile
  docker/Dockerfile.ci
Labels: ci

#2530 fix: docker image builds
  .github/workflows/docker.yaml
  .github/workflows/release.yml
Labels: ci
