Repository n0-computer/iroh, pull requests merged in 2024-08, with the labels that each got.

#2580 fix(iroh-net): Make a single direct address in NodeAddr instant
  iroh-net/src/magicsock.rs
  iroh-net/src/magicsock/node_map.rs
  iroh-net/src/magicsock/node_map/node_state.rs
  iroh-net/src/magicsock/node_map/udp_paths.rs
Labels: fix, c-iroh-net

#2582 docs(iroh): add documentations and examples for the `iroh::node::Client`
  Cargo.lock
  iroh/Cargo.toml
  iroh/src/client/node.rs
Labels: docs

#2587 ref(iroh-net): Move PathState to its own module
  iroh-net/src/magicsock/node_map.rs
  iroh-net/src/magicsock/node_map/node_state.rs
  iroh-net/src/magicsock/node_map/path_state.rs
  iroh-net/src/magicsock/node_map/udp_paths.rs
Labels: refactor, c-iroh-net

#2605 feat(iroh-net): upgrade to new `swarm-discovery` api
  Cargo.lock
  iroh-net/Cargo.toml
  iroh-net/src/discovery/local_swarm_discovery.rs
Labels: c-iroh-net

#2631 refactor(iroh-cli)!: metrics-addr cli arg, metrics off by default
  iroh-cli/src/commands.rs
  iroh-cli/src/config.rs
  iroh-cli/tests/cli.rs
Labels: refactor, c-iroh-cli

#2643 ci: fix deps issues
  .github/workflows/ci.yml
Labels: ci, fix

#2641 refactor(iroh-net): move all timeouts into one file
  iroh-net/src/defaults.rs
  iroh-net/src/magicsock.rs
  iroh-net/src/netcheck/reportgen.rs
  iroh-net/src/netcheck/reportgen/hairpin.rs
  iroh-net/src/ping.rs
  iroh-net/src/portmapper/nat_pmp.rs
  iroh-net/src/portmapper/pcp.rs
  iroh-net/src/portmapper/upnp.rs
  iroh-net/src/relay/client.rs
  iroh-net/src/relay/client/conn.rs
  iroh-net/src/relay/server/actor.rs
Labels: c-iroh-net
