Repository n0-computer/iroh, pull requests merged in 2024-04, with the labels that each got.

#2197 fix(iroh-net): Suppress HostUnreachable network error as well
  iroh-net/src/netcheck/reportgen.rs
Labels: fix, c-iroh-net

#2243 fix(iroh_net): track `recv_data_ipv4` & `recv_data_ipv6`
  iroh-net/src/magicsock.rs
Labels: fix, c-iroh-net

#2225 fix(iroh-net)!: only call quinn_connect if a send addr is available
  iroh-cli/src/commands/doctor.rs
  iroh-cli/src/commands/node.rs
  iroh-net/src/disco.rs
  iroh-net/src/discovery.rs
  iroh-net/src/magic_endpoint.rs
  iroh-net/src/magicsock.rs
  iroh-net/src/magicsock/node_map/node_state.rs
  iroh-net/src/test_utils.rs
Labels: fix

#2230 feat!: implement improved address sharing options
  iroh-base/Cargo.toml
  iroh-base/src/node_addr.rs
  iroh-base/src/ticket/blob.rs
  iroh-base/src/ticket/node.rs
  iroh-cli/src/commands/blob.rs
  iroh-cli/src/commands/doc.rs
  iroh/src/client.rs
  iroh/src/client/blobs.rs
  iroh/src/client/docs.rs
  iroh/src/rpc_protocol.rs
  iroh/src/sync_engine/rpc.rs
  iroh/tests/sync.rs
Labels: feat
