Repository n0-computer/iroh, pull requests merged in 2025-01, with the labels that each got.

#3086 feat(iroh-relay)!: implement authentication
  iroh-relay/src/main.rs
  iroh-relay/src/protos/relay.rs
  iroh-relay/src/server.rs
  iroh-relay/src/server/client.rs
  iroh-relay/src/server/http_server.rs
  iroh-relay/src/server/testing.rs
  iroh/src/test_utils.rs
Labels: c-iroh-relay

#3120 fix(dns): segfaults in pkarr
  Cargo.lock
  iroh-dns-server/Cargo.toml
Labels: fix

#3129 fix(iroh): Queue sent datagrams longer
  iroh/src/magicsock/relay_actor.rs
Labels: bug, c-iroh

#3136 chore: new project syncing setup
  .github/workflows/project_sync.yaml
Labels: ci
